@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    border: 0px;
    margin: 0px;
}
body{
    font-family: "Trirong", serif;
    color: #3C354F;
}
.btn-primary{
    background-color: #ff42a5;;
    padding: 1.1rem 2rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    border: #ff42a5;;
    border-radius: 30px;
    cursor: pointer;
}


.title{
    display: flex;
    justify-content:center;
    font-size: 2rem;
    font-weight: 700;

}
.title-content{
    margin: 10px auto;
    text-align: center;
}
/* navbar css */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 5rem;
    height: 2.5rem;
}
.nav-title{
    padding: 10px;
    font-size: 2rem;
}
.nav-title>span{
    color: #ff42a5;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item li{
    list-style: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 1.1rem;
}
.nav-item li a{
    text-decoration: none;
    color: #3C354F;
}
.nav-button{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
}
.icon{
    width: 50px;
    height: 30px;
}

/* css banner section */
.banner-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 30px 40px; */
    background-image: url('../images/Group-14.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-bottom: 20px;
}
.banner-content {
    padding: auto;
}
.banner-content h3{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-content h1{
    text-align: center;
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content ul{
    margin-bottom: 20px;
}
.banner-content ul li{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}
.banner-btn{
    display: flex;
    justify-content: space-between;
}
.banner-image img{
    width: 30rem;
}
.go-rogue-btn{
    background: #4EC5F7;
}

/* funny video section */
.section-funny-video{
    margin: 60px;
    padding: 30px;
}
.funny-video-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin: 30px 10px;
}
.title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-card{
    width: 220px; 
    cursor: pointer;    
 
}
.content-card img{
    width: 100%; 
    height: 20vw;

}
.content-card .img-overlay{
    position: relative;
    overflow: hidden; 
}
.content-card p{
    padding: 10px 0px;
}

.img-overlay .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 98.5%; 
    height: 20vw;
    background-color: rgba(0, 0, 0, 0.6); /* Customize overlay color and opacity */
    color: #fff; /* Text color on the overlay */
    /* padding: 20px; */
    opacity: 0;
    border: 2px solid #ff42a5;
    border-radius: 10px;
    transition: opacity 0.3s ease; /* Add a smooth transition on hover */
}
.img-overlay:hover .overlay {
    opacity: 1;
}
.overlay img{
    width: 50px;
    height: 50px;
}

/* play section css */
.section-play{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: -60px 60px;
    padding: 10px 30px;
}
.play-content{
    margin-right: 150px;
    padding: 0 100px;
    text-align: right;
}
.play-content h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
}
.play-content h3 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-img{
    width: 25rem;
}

.badge-image{
    width: 13rem;
    position: relative;
    bottom: 12rem;
    right: 6rem;
    margin-bottom: -250px;
    padding-bottom: 100px;
}

/* game type section css */
.section-game-type{
    margin-top: 50px;
    padding: 20px 100px;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game-type-card{
    /* width: 200px;
    background-color: #ff42a5; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 50px;
    cursor: pointer;
}
.game-type-card h3{
    font-size: 1rem;
    padding: 10px;

}
.game-type-card img{
    width: 40px;
}
.game-type-card:hover{
    border: 1px solid #ff42a5;
    padding: 10px;
    border-radius: 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-type-content{
    /* display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* footer css */
.footer{
    background: #0B0223;
    height: 20rem;
    padding: 100px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    color: #FFF;
}
.footer-nav{
    display: flex;
    justify-content: center;
    color: #FFF;
}

.footer-nav li, .footer-others li{
    list-style: none;
    margin: 20px 50px;
    cursor: pointer;
}
.footer-icon{
    display: flex;
    justify-content: center;
    color: #FFF;
}
.footer-icon img{
    margin: 20px;
    width: 2rem;

}

.footer-others,.copyright{
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: center;
}
.footer-others li{
    margin: 20px 20px;
}
/* .copyright{
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: center;
} */
/* mobile version css */
@media screen and (max-width: 576px){
    nav{
        flex-direction: column;
    }
    .nav-logo{
        margin-bottom: 20px;
    }
    .nav-title{
        padding-right: -30px;
    }
    .nav-item{
        flex-direction: column;
        margin-top: 10px;
    }
    .nav-item li{
        margin-bottom: 20px;
    }
    .banner-section{
        flex-direction: column-reverse;
        justify-content: center;
        background-position-y: bottom;
    }

    .banner-image img{
        text-align: center;
        width: calc(100% - 20%);
        /* padding: 30px; */
        margin: 20px 10%;
    }
    .banner-content{
        margin-bottom: 20px;
    }
    .funny-video-content{
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
    }
    .content-card{
        width: 100%; 
        cursor: pointer;    
    }     
    .content-card img{
        width: 100%;    
        height: 60vw; 
    }
    .img-overlay .overlay {
        width: 98.5%;
        height: 60vw;        
    }
    .overlay img{
        width: 50px;
        height: 50px;
    }

    .section-play{
        flex-direction: column-reverse;
        margin: 10px;
        padding: 20px;
    }
    .play-content{
        margin-right: 0px;
        padding: 10px;
        text-align: center;
    }
    .badge-image{
        width: 13rem;
        position: relative;
        bottom: 12rem;
        right: 6rem;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .play-img{
        width: 23rem;
    }
    .section-game-type{
        padding: 20px;
    }
    footer{
        padding: 120px;
    }
    .footer-nav,.footer-icon,.footer-others,.copyright{
        flex-wrap: wrap;
    }
    .footer-nav li{
        margin: 10px;
    }
    .footer{
        height: auto;
    }

}

@media screen and (min-width: 576px) and (max-width: 960px){

    nav{
        flex-direction: column;
    }
    .nav-logo{
        margin-bottom: 20px;
    }
    .nav-title{
        padding-right: -30px;
    }
    .nav-item{
        flex-direction: column;
        margin-top: 10px;
    }
    .nav-item li{
        margin-bottom: 20px;
    }
    .banner-section{
        flex-direction: column-reverse;
        justify-content: center;
        background-position-y: bottom;
    }
    /* .banner-content h3{
        font-size: 2rem;
    }
    .banner-content h1{
        font-size: 3.9375rem;
    } */
    .banner-image img{
        text-align: center;
        width: calc(100% - 20%);
        /* padding: 30px; */
        margin: 20px 10%;
    }
    .banner-content{
        margin-bottom: 20px;
    }
    .funny-video-content{
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
    }
    .content-card{
        width: 100%; 
        cursor: pointer;
    }
    .content-card img{
        width: 100%;    
        height: 40vw; 
    }
    .img-overlay .overlay {
        width: 99%;
        height: 40vw;        
    }
    .overlay img{
        width: 60px;
        height: 60px;
    }
    
    .section-play{
        flex-direction: column-reverse;
        margin: 10px;
        padding: 20px;
        text-align: center;
    }
    .play-content{
        margin-right: 0px;
        padding: 10px;
        text-align: center;
    }
    .badge-image{
        width: 13rem;
        position: relative;
        bottom: 12rem;
        right: 6rem;
        /* margin-bottom: 0px;
        padding-bottom: 0px; */
    }
    .section-game-type{
        padding: 20px;
    }

    .footer-nav,.footer-icon,.footer-others,.copyright{
        flex-wrap: wrap;
    }
    .footer{
        height: auto;
    }
    
}